{% extends "dashbase.html" %}
{% load staticfiles %}
{% block title %}Administrator{% endblock %}

<body>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      {% block more_content %}
      <div class="col-md-6 grid-margin transparent">
        <div class="row">

          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Registered Students</p>
                <p class="fs-30 mb-2">{{stats.studens}}</p>
                <p></p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Registered Staffs</p>
                <p class="fs-30 mb-2">{{stats.staffs}}</p>
                <p></p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Books</p>
                <p class="fs-30 mb-2">{{stats.all_books}}</p>
                <p>{{stats.books_borrowed}} Borrowed</p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Publications</p>
                <p class="fs-30 mb-2">{{stats.all_pubs}}</p>
                <p>Public: {{stats.public_pub}}. Private: {{stats.private_pub}}</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Upload Requests</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Photo
                    </th>
                    <th>
                      Staff ID
                    </th>
                    <th>
                      Upload Title
                    </th>
                    <th>
                      Journal
                    </th>
                    <th>
                      Visibility
                    </th>
                    <th>
                      Date Published
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for pub in stats.pub_data %}
                  <tr>
                    <td class="py-1">
                      <img src="{% static 'images/faces/face1.jpg' %}" alt="image"/>
                    </td>
                    <td>
                      {{pub.staff_id}}
                    </td>
                    <td>
                      {{pub.title}}
                    </td>
                    <td>
                      {{pub.journal}}
                    </td>
                    <td>
                      {{pub.visibility}}
                    </td>
                    <td>
                      {{pub.date_published}}
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}

</body>

</html>

