{% extends "dashbase.html" %}
{% load staticfiles %}
{% block title %}Administrator{% endblock %}

<body>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      {% block more_content %}
      <div class="col-md-6 grid-margin transparent">
        <div class="row">

          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Registered Students</p>
                <p class="fs-30 mb-2">364</p>
                <p>124 Females, 240 Males</p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Registered Staffs</p>
                <p class="fs-30 mb-2">106</p>
                <p>56 Male, 50 Females</p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Books</p>
                <p class="fs-30 mb-2">4006</p>
                <p>30 Borrowed</p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Publications</p>
                <p class="fs-30 mb-2">406</p>
                <p>100 Int'l, 306 Local</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Upload Requests</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Photo
                    </th>
                    <th>
                      Staff ID
                    </th>
                    <th>
                      Upload Title
                    </th>
                    <th>
                      Upload category
                    </th>
                    <th>
                      Total Uploads
                    </th>
                    <th>
                      Department
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td class="py-1">
                      <img src="{% static 'images/faces/face1.jpg' %}" alt="image"/>
                    </td>
                    <td>
                      FPI/SS.1987
                    </td>
                    <td>
                      Study of Human Computer Interface and Applications
                    </td>
                    <td>
                      Journal Publication
                    </td>
                    <td>
                      12
                    </td>
                    <td>
                      Computer Science
                    </td>
                  </tr>

                  <tr>
                    <td class="py-1">
                      <img src="{% static 'images/faces/face2.jpg' %}" alt="image"/>
                    </td>
                    <td>
                      FPI/SS.1089
                    </td>
                    <td>
                      Design and Implemetation of Wireless Trackpad
                    </td>
                    <td>
                      Journal Publication
                    </td>
                    <td>
                      08
                    </td>
                    <td>
                      Electrical Engineering
                    </td>
                  </tr>
                  <tr>
                    <td class="py-1">
                      <img src="{% static 'images/faces/face3.jpg' %}" alt="image"/>
                    </td>
                    <td>
                      FPI/SS.2051
                    </td>
                    <td>
                      Microbial Cell Mobility
                    </td>
                    <td>
                      Lecture note
                    </td>
                    <td>
                      02
                    </td>
                    <td>
                      Science Laboratory Technology
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Inline forms</h4>
            <p class="card-description">
              Use the <code>.form-inline</code> class to display a series of labels, form controls, and buttons on a single horizontal row
            </p>
            <form class="form-inline">
              <label class="sr-only" for="inlineFormInputName2">Name</label>
              <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
            
              <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
              </div>
              <div class="form-check mx-sm-2">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked>
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
          </div>
        </div>
      </div>

      {% endblock %}

</body>

</html>

