{% extends "dashbase.html" %}
{% load staticfiles %}
{% block title %}Administrator{% endblock %}

<body>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->
      {% block nav %}
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" href="index.html">
              <i class="icon-grid menu-icon"></i>
              <span class="menu-title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#auth" aria-expanded="false" aria-controls="auth">
              <i class="icon-head menu-icon"></i>
              <span class="menu-title">User Accounts</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="auth">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/samples/login.html"> Staff Profiles </a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/samples/register.html"> Student Profiles </a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#ui-basic" aria-expanded="false" aria-controls="ui-basic">
              <i class="icon-layout menu-icon"></i>
              <span class="menu-title">Uploads</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="ui-basic">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="uplaod">Books</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/dropdowns.html">Publications</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/ui-features/typography.html">Lecture Note</a></li>
              </ul>
            </div>
          </li>
          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#form-elements" aria-expanded="false" aria-controls="form-elements">
              <i class="icon-columns menu-icon"></i>
              <span class="menu-title">Book Borrowing</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="form-elements">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Borrow a Book</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">Borrowed Books</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">View Borrowers List</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">View Request</a></li>
                <li class="nav-item"><a class="nav-link" href="pages/forms/basic_elements.html">View Overdue</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" data-toggle="collapse" href="#tables" aria-expanded="false" aria-controls="tables">
              <i class="icon-grid-2 menu-icon"></i>
              <span class="menu-title">Messages</span>
              <i class="menu-arrow"></i>
            </a>
            <div class="collapse" id="tables">
              <ul class="nav flex-column sub-menu">
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">From Staffs</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">From Students</a></li>
                <li class="nav-item"> <a class="nav-link" href="pages/tables/basic-table.html">From Public</a></li>
              </ul>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="pages/documentation/documentation.html">
              <i class="icon-paper menu-icon"></i>
              <span class="menu-title">Plagiarism Checker</span>
            </a>
          </li>
        </ul>
      {% endblock %}

      {% block more_content %}
      <div class="col-md-6 grid-margin transparent">
        <div class="row">

          <div class="col-md-6 mb-4 stretch-card transparent">
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Registered Students</p>
                <p class="fs-30 mb-2">364</p>
                <p>124 Females, 240 Males</p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Registered Staffs</p>
                <p class="fs-30 mb-2">106</p>
                <p>56 Male, 50 Females</p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Books</p>
                <p class="fs-30 mb-2">4006</p>
                <p>30 Borrowed</p>
              </div>
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;
            <div class="card card-tale">
              <div class="card-body">
                <p class="mb-4">Publications</p>
                <p class="fs-30 mb-2">406</p>
                <p>100 Int'l, 306 Local</p>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Upload Requests</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                  <tr>
                    <th>
                      Photo
                    </th>
                    <th>
                      Staff ID
                    </th>
                    <th>
                      Upload Title
                    </th>
                    <th>
                      Upload category
                    </th>
                    <th>
                      Total Uploads
                    </th>
                    <th>
                      Department
                    </th>
                  </tr>
                </thead>
                <tbody>

                  <tr>
                    <td class="py-1">
                      <img src="{% static 'images/faces/face1.jpg' %}" alt="image"/>
                    </td>
                    <td>
                      FPI/SS.1987
                    </td>
                    <td>
                      Study of Human Computer Interface and Applications
                    </td>
                    <td>
                      Journal Publication
                    </td>
                    <td>
                      12
                    </td>
                    <td>
                      Computer Science
                    </td>
                  </tr>

                  <tr>
                    <td class="py-1">
                      <img src="{% static 'images/faces/face2.jpg' %}" alt="image"/>
                    </td>
                    <td>
                      FPI/SS.1089
                    </td>
                    <td>
                      Design and Implemetation of Wireless Trackpad
                    </td>
                    <td>
                      Journal Publication
                    </td>
                    <td>
                      08
                    </td>
                    <td>
                      Electrical Engineering
                    </td>
                  </tr>
                  <tr>
                    <td class="py-1">
                      <img src="{% static 'images/faces/face3.jpg' %}" alt="image"/>
                    </td>
                    <td>
                      FPI/SS.2051
                    </td>
                    <td>
                      Microbial Cell Mobility
                    </td>
                    <td>
                      Lecture note
                    </td>
                    <td>
                      02
                    </td>
                    <td>
                      Science Laboratory Technology
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      <div class="col-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Inline forms</h4>
            <p class="card-description">
              Use the <code>.form-inline</code> class to display a series of labels, form controls, and buttons on a single horizontal row
            </p>
            <form class="form-inline">
              <label class="sr-only" for="inlineFormInputName2">Name</label>
              <input type="text" class="form-control mb-2 mr-sm-2" id="inlineFormInputName2" placeholder="Jane Doe">
            
              <label class="sr-only" for="inlineFormInputGroupUsername2">Username</label>
              <div class="input-group mb-2 mr-sm-2">
                <div class="input-group-prepend">
                  <div class="input-group-text">@</div>
                </div>
                <input type="text" class="form-control" id="inlineFormInputGroupUsername2" placeholder="Username">
              </div>
              <div class="form-check mx-sm-2">
                <label class="form-check-label">
                  <input type="checkbox" class="form-check-input" checked>
                  Remember me
                </label>
              </div>
              <button type="submit" class="btn btn-primary mb-2">Submit</button>
            </form>
          </div>
        </div>
      </div>

      {% endblock %}

</body>

</html>

