{% extends "dashbase.html" %}
{% load staticfiles %}
{% block title %}Administrator{% endblock %}

<body>

      <!-- partial -->
      <!-- partial:partials/_sidebar.html -->

      {% block more_content %}
      <div class="col-md-6 grid-margin transparent">
        <div class="row">
          <div class="col-md-6 mb-4 stretch-card transparent">
            <big><a href="create_item">Create New Student Profile</a></big>
          </div>
        </div>
      </div>

      <div class="col-lg-12 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title">Staffs</h4>
            <div class="table-responsive">
              <table class="table table-striped">
                <thead>
                
                  <tr>
                    <th>
                      Photo
                    </th>
                    <th>
                      Name
                    </th>
                    <th>
                      Reg. Number
                    </th>
                    <th>
                      Department
                    </th>
                    <th>
                      Phone number
                    </th>
                    <th>
                      Date Enroled
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for student in student_data %}
                  <tr>
                    <td class="py-1">
                      <a href="student_details/{{student.id}}"><img src="{% static '{{student.passport}}' %}" alt="image"/></a>
                    </td>
                    <td>
                      {{student.full_name | title }}
                    </td>
                    <td>
                      {{student.reg_num | upper }}
                    </td>
                    <td>
                      {{student.department | title }}
                    </td>
                    <td>
                      {{student.phone_number}}
                    </td>
                    <td>
                      {{student.date_enrolled | date }}
                    </td>
                  </tr>
                  {% endfor %}

                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>

      {% endblock %}

</body>

</html>

